.Admin .amount {
  color: rgb(22, 31, 106);
  font-size: 20px;
  font-weight: 600;
}

.Admin .legend {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Admin .legend .LegendItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.Admin .LegendItems .title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.Admin .LegendItems .title .dot {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border-radius: 50%;
  flex-shrink: 0;
}

.Admin .admin-header {
  color: rgb(37, 47, 100);
  font-size: 14px;
}
