.AdminOrders .admin-table {
  display: table;
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin: 0;
  width: 100%;
}

.AdminOrders .admin-table thead {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.AdminOrders .admin-table th {
  color: rgb(22, 31, 106);
  font-size: 15px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.AdminOrders .admin-table td {
  color: rgb(22, 31, 106);
  font-size: 14px;
  border: none;
}